In [1]:
import sys
sys.path.append('..')

import pandas as pd
import numpy as np
from utils import *
    
import os

from typing import List, Dict

## Duplicates and mislabels

In [31]:
train_df = pd.read_csv('../data/data-org/train.csv', sep='\t')

gb = train_df.groupby('text').count().sort_values(by='id')
ambiguous_texts = gb[gb.id > 1].reset_index().text

In [37]:
for text in ambiguous_texts:
    display(train_df[train_df.text == text])

          id  label                                               text
18808  18809      1  随着电影业大踏步迈入数字化及3D影院时代，3D影片深受观众所喜爱，然而日本的一些电子公司却警...
22750  22752      1  随着电影业大踏步迈入数字化及3D影院时代，3D影片深受观众所喜爱，然而日本的一些电子公司却警...

          id  label                                               text
20058  20060      1  对调整工资、发放奖金、提高职工的福利待遇等问题，文章从理论上和政策上作了详细的规定和深刻的说...
24702  24704      1  对调整工资、发放奖金、提高职工的福利待遇等问题，文章从理论上和政策上作了详细的规定和深刻的说...

          id  label                                               text
17325  17326      1  国家发改委日前下发通知，要求各地开展月饼市场价格专项整治活动，重点检查是否存在通过过度包装、...
19301  19302      1  国家发改委日前下发通知，要求各地开展月饼市场价格专项整治活动，重点检查是否存在通过过度包装、...

          id  label                                    text
32072  32074      1  从全国3824种社科类期刊中遴选出102种被确定为“全国百种重点社科期刊”。
33063  33065      1  从全国3824种社科类期刊中遴选出102种被确定为“全国百种重点社科期刊”。

          id  label                                               text
9823    9824      1  日本一家科技公司发明了一种镜子般的体温计，人们只要对着镜子一照，镜面上会显示人体温度数，就能...
11135  11136      1  日本一家科技公司发明了一种镜子般的体温计，人们只要对着镜子一照，镜面上会显示人体温度数，就能...

          id  label                                               text
26076  26078      0  由于我国的国际影响和汉语在国际事务中的作用越来越大，联合国大会第二十八届会议一致通过，把汉语...
43288  43290      0  由于我国的国际影响和汉语在国际事务中的作用越来越大，联合国大会第二十八届会议一致通过，把汉语...

          id  label                                 text
1372    1373      0  健康休闲是一种以恢复身心健康状态、丰富生活、完善自我为目的的闲暇活动。
33348  33350      0  健康休闲是一种以恢复身心健康状态、丰富生活、完善自我为目的的闲暇活动。

          id  label                                               text
29221  29223      0  当今社会生活中，信用缺失已成为一种普遍化的短期行为，它扰乱了市场秩序，降低了经济运行效率，使...
40041  40043      0  当今社会生活中，信用缺失已成为一种普遍化的短期行为，它扰乱了市场秩序，降低了经济运行效率，使...

          id  label                                       text
29619  29621      1  卡塔尔和沙特两个队还有一场比赛，中国队能否出线将取决于这两个队之间的比赛结果而定。
35542  35544      1  卡塔尔和沙特两个队还有一场比赛，中国队能否出线将取决于这两个队之间的比赛结果而定。

          id  label                                               text
10786  10787      0  伊朗最近进行大规模军事演习并且接连成功试射新型导弹令美国军方十分震惊，但真正令五角大楼担心的...
32238  32240      0  伊朗最近进行大规模军事演习并且接连成功试射新型导弹令美国军方十分震惊，但真正令五角大楼担心的...

          id  label                                               text
11242  11243      1  从大量事实说明，文化在综合国力竞争中的地位越来越重要，谁占据了文化发展的制高点，谁就能够更好...
13921  13922      1  从大量事实说明，文化在综合国力竞争中的地位越来越重要，谁占据了文化发展的制高点，谁就能够更好...

          id  label                                           text
10268  10269      1  打开莎士比亚戏剧集，如同打开百宝箱，使人眼花缭乱，处处迸发出智慧的火花，闪现着艺术的光芒。
14065  14066      1  打开莎士比亚戏剧集，如同打开百宝箱，使人眼花缭乱，处处迸发出智慧的火花，闪现着艺术的光芒。

          id  label                                               text
1729    1730      1  艾滋病有性传播、血液传播、母婴传播等三大传播途径，我们需要采取紧急行动制止它的传播，否则不采...
13774  13775      1  艾滋病有性传播、血液传播、母婴传播等三大传播途径，我们需要采取紧急行动制止它的传播，否则不采...

        id  label                                          text
950    951      1  艾滋病有三大传播途径，我们需要采取行动制止它的传播，否则不采取紧急行动，它将会迅速蔓延。
4759  4760      1  艾滋病有三大传播途径，我们需要采取行动制止它的传播，否则不采取紧急行动，它将会迅速蔓延。

          id  label                                               text
7906    7907      0  滨海新区纳入国家发展战略布局，为本市的跨越发展提供了广阔空间，但也应该看到，我们面临的竞争更...
21113  21115      0  滨海新区纳入国家发展战略布局，为本市的跨越发展提供了广阔空间，但也应该看到，我们面临的竞争更...

          id  label                                   text
40789  40791      1  初涉文坛，她的第一部处女作就是这样一部意味深长的巨著，不能不令人刮目相看。
44751  44753      1  初涉文坛，她的第一部处女作就是这样一部意味深长的巨著，不能不令人刮目相看。

          id  label                                      text
4355    4356      1  我店经过有关部门批准，招收6名女服务员，年龄在18-22岁左右，必须有本市户口。
24316  24318      1  我店经过有关部门批准，招收6名女服务员，年龄在18-22岁左右，必须有本市户口。

          id  label                                               text
2172    2173      1  当克隆人的脚步越来越近的时候，我们应该及时思考和广泛讨论，并尽快建立健全有关克隆人的伦理、法...
24161  24163      1  当克隆人的脚步越来越近的时候，我们应该及时思考和广泛讨论，并尽快建立健全有关克隆人的伦理、法...

          id  label                                               text
34389  34391      1  抗生素曾经是人类健康的福音，但是如果使用不合理，下药不对症，即使它是灵丹妙药，最终它给患者带...
37765  37767      1  抗生素曾经是人类健康的福音，但是如果使用不合理，下药不对症，即使它是灵丹妙药，最终它给患者带...

          id  label                                               text
36334  36336      1  温家宝总理9月7日主持召开国务院常务会议，听取关于蓬莱19—3油田溢油事故处理情况，研究部署...
39947  39949      1  温家宝总理9月7日主持召开国务院常务会议，听取关于蓬莱19—3油田溢油事故处理情况，研究部署...

          id  label                                               text
15103  15104      1  近日，“中国城市少年儿童生活习惯研究”课题组报告指出，中国中小学生睡眠状况令人堪忧，约有2/...
41688  41690      1  近日，“中国城市少年儿童生活习惯研究”课题组报告指出，中国中小学生睡眠状况令人堪忧，约有2/...

          id  label                           text
23491  23493      0  抗战期间，一些投机倒把的商人昧着良心囤积居奇，大发国难财。
32667  32669      0  抗战期间，一些投机倒把的商人昧着良心囤积居奇，大发国难财。

          id  label                                       text
1780    1781      0  朱总理10月7日视察了中央电视台，对中国电视事业暨中央电视台诞生40周年表示祝贺。
31089  31091      0  朱总理10月7日视察了中央电视台，对中国电视事业暨中央电视台诞生40周年表示祝贺。

          id  label                                               text
24207  24209      0  一些作家急于求成，缺乏“坐冷板凳”的精神，以出版发行为目的，过于注重商业利益，其作品缺乏对人...
29058  29060      0  一些作家急于求成，缺乏“坐冷板凳”的精神，以出版发行为目的，过于注重商业利益，其作品缺乏对人...

          id  label                                               text
25825  25827      1  有效解决看病贵、看病难的问题是当今中国的一个紧迫课题，它不仅关系到我们能否继续坚持“以人为本...
32500  32502      1  有效解决看病贵、看病难的问题是当今中国的一个紧迫课题，它不仅关系到我们能否继续坚持“以人为本...

          id  label                                               text
24959  24961      1  许多水果都有药用功效，如柠檬中含有柠檬酸、柠檬多酚及维生素C等成分就具有很强的抑制血小板聚集...
36619  36621      1  许多水果都有药用功效，如柠檬中含有柠檬酸、柠檬多酚及维生素C等成分就具有很强的抑制血小板聚集...

          id  label                                               text
13718  13719      1  连日来，欧洲多国持续遭遇强降雪和低温天气困扰，18日，英国航空公司取消了所有从希斯罗机场起飞...
35058  35060      1  连日来，欧洲多国持续遭遇强降雪和低温天气困扰，18日，英国航空公司取消了所有从希斯罗机场起飞...

          id  label                                               text
1879    1880      1  “辽宁舰”指挥员的“起飞手势”成为亮点，经过报刊、网络和媒体的转载与报道，受到了国人的热情追...
19432  19433      1  “辽宁舰”指挥员的“起飞手势”成为亮点，经过报刊、网络和媒体的转载与报道，受到了国人的热情追...
25850  25852      1  “辽宁舰”指挥员的“起飞手势”成为亮点，经过报刊、网络和媒体的转载与报道，受到了国人的热情追...

          id  label                                               text
27952  27954      1  记者获悉，荆州市总工会将开展农民工“顺利平安返乡返岗”系列服务活动，为农民工提供订票服务。截...
29960  29962      1  记者获悉，荆州市总工会将开展农民工“顺利平安返乡返岗”系列服务活动，为农民工提供订票服务。截...
30719  30721      1  记者获悉，荆州市总工会将开展农民工“顺利平安返乡返岗”系列服务活动，为农民工提供订票服务。截...

## Transform

In [2]:
from nlpcda.tools.Basetool import Basetool
from nlpcda.config import similarword_path
import nlpcda


class AddSimilarWord(Basetool):
    '''
    句中随意添加近义词，生成【语义重复】类型病句。
    '''

    def __init__(self, base_file=similarword_path, create_num=5, change_rate=0.05, seed=1):
        super(AddSimilarWord, self).__init__(base_file, create_num, change_rate, seed)


    def load_paser_base_file(self):
        combine_dict = {}
        for line in open(self.base_file, "r", encoding='utf-8'):
            seperate_word = line.strip().split(" ")
            # 仅保留真正近义词，过滤相关词和独立词
            if not seperate_word[0].endswith("="):
                continue
            num = len(seperate_word)
            for i in range(1, num):
                wi = seperate_word[i]
                # add to user dict
                if len(wi) > 1: self.add_word(wi)
                combine_dict[wi] = seperate_word[1:]
        print('load :%s done' % (self.base_file))
        return combine_dict

    def replace(self, replace_str:str):
        replace_str = replace_str.replace('\n', '').strip()
        seg_list = self.jieba.cut(replace_str, cut_all=False)
        words = list(seg_list)
        sentences = [replace_str]
        t = 0
        while len(sentences) < self.create_num:
            t += 1
            a_sentence = ''
            for word in words:
                a_sentence += self.s1(word)
            if a_sentence not in sentences:
                sentences.append(a_sentence)
            if t > self.create_num * self.loop_t / self.change_rate:
                break
        return sentences

    def s1(self, word:str):
        # 替换所有在combine_dict中的
        if len(word) == 1: return word
        if word in self.base_file_mapobj and self.random.random() < self.change_rate:
            wi = self.random.randint(0, len(self.base_file_mapobj[word]) - 1)
            place = self.base_file_mapobj[word][wi]
            if place == word:
                return word
            return word + place if self.random.random() < 0.5 else place + word
        else:
            return word

Simbert不能正常使用，除非你安装：bert4keras、tensorflow ，为了安装快捷，没有默认安装.... No module named 'bert4keras'

In [3]:
sw = nlpcda.Similarword()
sw.replace('努力学习文化知识能使人们的妄想在未来变成现实。')

Building prefix dict from the default dictionary ...
Loading model from cache C:\Users\holaj\AppData\Local\Temp\jieba.cache
Loading model cost 0.719 seconds.
Prefix dict has been built successfully.

load :d:\Apps\Anaconda3\envs\general-torch\lib\site-packages\nlpcda\data\同义词.txt done

['努力学习文化知识能使人们的妄想在未来变成现实。',
 '努力学习文化知识能使人人的妄想在未来改为现实。',
 '努力学习文化知识能使人们的妄想在奔头儿变成现实。',
 '努力学习文化知识能使人们的痴想在未来变成现实。',
 '努力学习知知识能使人们的妄想在未来变成现实。']

In [38]:
from base64 import encode
from shortuuid import uuid


logic_pairs = [
    ['不仅', '尽管', '虽然', '由于', '无论', '只要'], 
    ['不但', '尽管', '虽然', '由于', '无论', '只有'], 
    ['不仅', '尽管', '虽然', '因为', '无论', '只要'], 
    ['不但', '尽管', '虽然', '因为', '无论', '只有'], 
    ['而且', '还是', '所以', '却', '就', '因此', '才'], 
    ['而且', '仍然', '所以', '却', '就', '因此', '才'], 
    ['而且', '但是', '所以', '却', '就', '因此', '才'], 
    ['而且', '可是', '所以', '却', '就', '因此', '才'], 
]


nlpcda_package_path = 'D:/Apps/Anaconda3/envs/general-torch/Lib/site-packages/nlpcda'
file_path = os.path.join(nlpcda_package_path, 'data')
file_name = 'logic_pairs.txt'
logic_pairs_file = os.path.join(file_path, file_name)

with open(logic_pairs_file, 'w', encoding='utf-8') as f:
    for line in logic_pairs:
        line = ' '.join(line)
        line = uuid()[:8] + '= ' + line + '\n'
        f.write(line)

In [21]:
text = '只有离开那个控制你人生的人，你就能重获新生。'

logic_pairs_swapper = nlpcda.Similarword(base_file=logic_pairs_file, change_rate=0.1)
logic_pairs_swapper.replace(text)[-1]

load :D:/Apps/Anaconda3/envs/general-torch/Lib/site-packages/nlpcda\data\logic_pairs.txt done

'尽管离开那个控制你人生的人，你就能重获新生。'