In [1]:
import pandas as pd

In [10]:
def aug(text):
    sts = text.split('。')
    for i, st in enumerate(sts):
        if st == '':
            continue
        if st[-1] not in ['。', '！', '？']:
            sts[i] = st + '。'
        if st[0] in ['A', 'B', 'C', 'D']:
            sts[i] = sts[i][1:]
            if sts[i][0] in ['、', '．']:
                sts[i] = sts[i][1:]
    while '' in sts:
        sts.remove('')
    return sts


train_df = pd.read_csv('../data-org/train.csv', sep='\t', index_col='id')

# data = train_df[500:600]
# data['prediction'] = torch.argmax(output_tensors[0], 1)
# data = data[['label', 'prediction', 'text']]
# with pd.option_context('display.max_rows', None, 'display.max_columns', None):
#     display(data[data.label != data.prediction])


long_text_df = train_df[train_df.text.map(len) > 126]
long_text_ids = long_text_df.index
display(long_text_df)

split_texts = [aug(train_df[train_df.index == idx].text.values[0]) for idx in long_text_ids]

new_labels = [None] * len(long_text_ids)
new_labels[0] = [0, 1, 0, 1]
new_labels[1] = [0, 1, 0]
new_labels[2] = [1]
new_labels[3] = [0, 1, 1]
new_labels[4] = [1]
new_labels[5] = [1, 0, 0]
new_labels[6] = [1, 1, 1]
new_labels[7] = [1, 1, 0, 0]
new_labels[8] = [0, 1]

new_labels = [x for x in new_labels]

for j, idx in enumerate(long_text_ids):
    train_df.drop(index=idx, inplace=True)
    for k in range(len(new_labels[j])):
        train_df = pd.concat((train_df, pd.DataFrame([{'id':str(idx)+'-'+str(k),'label':new_labels[j][k], 'text':split_texts[j][k]}]).set_index('id')))

display(train_df[train_df.text.map(len) > 126])
train_df.to_csv('../data/train.csv', sep='\t')

       label                                               text
id
8594       1  随着全球气温升高，飓风、洪水、干旱等极端气象事件的频率和强度正在增加，气候变暖已成为全人类必...
9270       1  为期40天的春运平稳有序结束。根据交通运输部数据显示，2019年春运全国旅客发送量近30亿人...
12426      1  在2010年多起校园血案接连发生后，《华尔街日报》撰稿人崔宇引用诺贝尔经济学奖获得者阿玛蒂亚...
12865      1  MA国家标准的芯片生产与研发。C．据路透社记者最新报道，这一次巴勒斯坦伊斯兰抵抗运动组织（哈...
13120      1  专业足球数据网站《footballdatabase》4月28日公布了最新一期的世界俱乐部排名...
16405      1  近日，一条韩国新闻直播事故的视频被广泛吸引关注。在视频中，韩国新闻播放过程中，连线的外景记者...
23495      1  “悟本堂”镇堂大师张悟本在谎言被揭穿之后仍可从容“停业深造”，以及稍后李一道长“成仙”骗财之...
26096      1  在谈及到关于雾霾天气的时候，习近平说，在问题面前也急不得，淡定地面对这些问题。他回忆说，小时...
41597      1  2005年11月27日，龙煤矿业集团有限责任公司东风煤矿发生一起特大煤尘爆炸事故，死亡171...

         label                                               text
id
12426-0      1  在2010年多起校园血案接连发生后，《华尔街日报》撰稿人崔宇引用诺贝尔经济学奖获得者阿玛蒂亚...
13120-0      1  专业足球数据网站《footballdatabase》4月28日公布了最新一期的世界俱乐部排名...